<mat-toolbar>
  <span class="example-spacer"></span>
  <form class="form-inline my-2 my-lg-0 ml-auto">
    <button class="btn btn-danger my-3 my-sm-0" (click)="openModal()" type="button"><i
        class="fa fa-shopping-cart mr-2"></i>Buy now</button>
  </form>
</mat-toolbar>

<div class="container">
  <div class="row">
    <h1 class="font-weight-bolder mb-0">Products</h1>
    <div class="col-12">
      <product-list class="list" (productAdded)="catchproduct($event)"></product-list>
    </div>
    <hr>
    <h1 class="font-weight-bolder">Shopping Bag</h1>
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price(per)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productArr let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.quantity * product.price | currency}}</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <th>Total</th>
            <td>{{getTotalCost() | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>